{% extends "base.html" %}

{% block title %}ImgRating{% endblock %}

{% block content %}
    <title>Home</title>
    <h1>Welcome to ImgRating</h1> <br>
    <p>The place where you can upload pictures and rate pictures by other users!</p> <br>

    {% if session['username'] %}
        <p>Hello {{ session['username'] }}, you are logged in.</p>
    {% else %}
        <p>You are not logged in.</p>
    {% endif %}

    <h5>Image of the day</h5> <br>
        <img src="{{ url_for('static', filename='uploads/cat.jpg') }}" class="img-fluid" alt="Image of the day">
    <br>
{% endblock %}